:root {
  --bg-color: #2f303a;
  --brend-color-1: #2196f3;
  --brend-color-2: #000000;
  --text-color: #757575;
  --caption-color: #212121;
  --grey-background: #f5f4fa;
  --icons-color: #afb1b8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-style: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* .flex {
  display: flex;
} */
.blue {
  color: var(--brend-color-1);
}
/* Section Header */
.header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 7px;
}
.flexer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.logo {
  padding-top: 24px;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brend-color-2);
  padding-bottom: 25px;
}
.header-list {
  display: flex;
}
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header-item + .header-item {
  margin-left: 50px;
}
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--caption-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 80px; */
}
.header-link:hover,
.header-link:focus {
  color: var(--brend-color-1);
}

/* .header-link:hover::after {
  content: "";
  width: 100%;
  height: 5px;
  background-image: linear-gradient(var(--brend-color-1), var(--brend-color-1));
  border-radius: 3px;
} */

.head-address-list {
  display: flex;
}

.head-address-item:last-child {
  /* display: block; */
  margin-left: 30px;
}
.head-address-link {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 30px;
  padding-bottom: 32px;
}
.head-address-link p {
  padding-top: 2px;
}
.head-address-link:hover,
.head-address-link:focus {
  color: var(--brend-color-1);
}
.head-address-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*! Section Hero */
.hero {
  padding: 0;
  /* height: 600px; */
  /* background-image: url("./images/hero-img.jpg");*/
  background-color: var(--bg-color);
}
.hero-content {
  padding-top: 200px;
  margin: 0 auto;
  width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 200px;
}
.hero-title {
  width: 696px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--brend-color-1);
  color: #ffffff;
}
/*Section Features*/
.features {
  padding-top: 94px;
}
/* .features-item::before {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
} */

/* .icon-antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
} */

.features-list {
  display: flex;
  /*justify-content: space-between; */
}
.features-item {
  width: 270px;
  margin-right: 30px;
}
.features-item:last-child {
  margin: 0;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--caption-color);
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--grey-background);
  border-radius: 3px;
  margin-bottom: 30px;
}
/*Section Works*/
/* .works {
  padding-top: 0;
} */
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-color);
  margin-bottom: 50px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}
.works-item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.works-overbutton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/*Section Command*/
.command {
  background-color: var(--grey-background);
}
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-color);
  margin-bottom: 50px;
}
.command-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}
.command-item {
  border-radius: 5px;
  background-color: #ffffff;
  padding-bottom: 30px;
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-img-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-color);
}
.command-text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-invite-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 16px 0 0 0;
}
.command-invite-item + .command-invite-item {
  margin-left: 10px;
}
.command-invite-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  /* padding: 3px; */
  border-radius: 50%;
  color: var(--icons-color);
}
.command-invite-link:hover,
.command-invite-link:focus {
  background-color: var(--brend-color-1);
  color: #ffffff;
}
.command-invite-icon {
  /* width: 44px;
  height: 44px; */
  /* background: rgba(255, 255, 255, 0); */
  fill: currentColor;
}
/*!Section Customers*/
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-color);
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.customers-item + .customers-item {
  margin-left: 30px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 3px;
  color: var(--icons-color);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--brend-color-1);
  border: 1px solid var(--brend-color-1);
}
.customers-icon {
  fill: currentColor;
}
/*!Footer*/
.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
  margin: 0 auto;
}
.footer-content {
  display: flex;
}
.footer-left {
  width: 231px;
}
.footer .logo {
  color: #ffffff;
}
.address {
  margin-top: 20px;
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--brend-color-1);
}

.invite {
  margin-left: 68px;
  padding: 12px;
}
.invite-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.invite-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.invite-item + .invite-item {
  margin-left: 10px;
}

.invite-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  /* padding: 3px; */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.invite-link:hover,
.invite-link:focus {
  background-color: var(--brend-color-1);
}

.invite-icon {
  /* width: 44px;
  height: 44px; */
  /* background: rgba(255, 255, 255, 0); */
  fill: #ffffff;
}

/*Stranica Portfolio*/
/* Section Portfolio */
.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item {
  margin-right: 8px;
}
.portfolio-item:last-child {
  margin-right: 0;
}
.portfolio-button {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  color: var(--caption-color);
  background-color: var(--grey-background);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--brend-color-1);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.gallery-item {
  /* cursor: pointer; */
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.gallery-link {
  display: block;
  color: var(--text-color);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-img-container {
  position: relative;
  overflow: hidden;
}
.gallery-overley {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateX(-100%);
}
.gallery-link:hover .gallery-overley,
.gallery-link:focus .gallery-overley {
  transform: translateX(0);
}
.gallery-caption {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.gallery-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--caption-color);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
